---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import AnimatedContainer from "../components/index/AnimatedContainer";
import NavLeft from "../components/index/NavLeft.astro";
import MainContent from "../components/index/MainContent.astro";
---

<Layout>
  <div
    id="main"
    class="bg-[#28282B] block isolate w-screen h-screen overflow-hidden"
  >
    <AnimatedContainer client:load>
      <NavLeft />
      <MainContent />
    </AnimatedContainer>
  </div>
</Layout>
