---
import LeftSection from "./LeftSection.astro";
import RightSection from "./RightSection.astro";
---

<div class="w-max-[90%] relative flex flex-row pr-[5%] pl-[10%] mx-auto">
  <LeftSection />
  <RightSection />
</div>
