<div class="w-max-[90%] relative flex flex-row pr-[5%] pl-[10%] mx-auto">
  <div class="w-[25%] h-screen">
    <p class="text-5xl">Hello</p>
  </div>
  <div class="w-[75%] h-screen">
    <p class="text-5xl">Menu</p>
  </div>
</div>
